@charset "utf-8";
/* CSS Document */
body {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	}
a {
	text-decoration:none;
	color:#666666;
	}
#content {
	display: block;
	text-align:justify;
	padding-top:100px;
	background-color:darkorange;
	}
.carousel-control {
	top:25px;
	}
/*Navbar*/
.navi {
	overflow:hidden;
	z-index:10;
	}
ul.nav {
	float:right;
	
	}
ul {
	font-size:18px;
	}

ul#top.nav.navbar-nav a:hover {
	border-style: solid;
	color:white;
	border-color:DimGrey;
	border-bottom:solid 6px darkorange;
	height:50px;
	}
.navbar {
	display:block;
	height:51px;
	box-shadow: 0 1px 5px;
	background-color:DimGray;
	filter: alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
	}
.nav li {
	padding-left:30px;
	}
.navbar-default .navbar-nav>li>a {
	color:white;
	}
	
/*Carousel*/
.carousel {
	padding-top:25px; 
	position:relative;
	}
.carousel-inner {
	position: relative;
	width: 100%;
	overflow: hidden;
	heigth:100%;
	}
{
	padding-top:80px;
	}
.carousel-caption {
	padding-bottom: 170px;
	position:absolute;
	}
@media (max-width: 1410px) {
	.carousel-caption {
		padding-bottom: 50px;
		position:absolute;
		}
	.carousel-caption img {
		height: 123.5px;
		width: 451px;
	}
	}
@media (max-width: 860px) {
	.carousel-caption {
		padding-bottom: 50px;
		position:absolute;
		}
	.carousel-caption img {
		height: 95.5px;
		width: 348.6px;
	}
	.carousel-caption h3 {
		font-size:12px;
		}
	}
	@media (max-width: 650px) {
	.carousel-caption {
		padding-bottom: 50px;
		position:absolute;
		}
	.carousel-caption img {
		height: 73.5px;
		width: 268px;
	}
	.carousel-caption h3 {
		font-size:11px;
		}
	}
	
/*Introduction*/
.top-page {
	background-color: white;
	height:auto;
	overflow: hidden;
	}
.video {
	padding:70px 0px 30px 100px;
	}
.introduction p {
	padding:70px 0px 20px 100px;
	font-size:16px;
	max-width: 800px;
	}

.twitter {
	float:right;
	}

/*Plants and Animals in h3*/
#content h3 {
	padding-left:40px;
	color:white;
	}

/*Order of pictures*/
#content .subqtl {
	float:left; 
	height:263px; 
	margin:0px 0px 20px 30px;
				}

/*font in images*/
#content .subqtl span {
	font-size:20px;
	}

/*Banner*/
#content .subqtl .banner {
	position:absolute;
	height:258px; 
	width:258px;
	}
#content .subqtl .banner_new {
	background:url(images/new.png);
	z-index:2;
	}
#content .subqtl .banner_newPoplar {
	background:url(images/newPoplar.png);
	z-index:2;
	}
#content .subqtl .banner_prototype {
	background:url(images/prototype.png);
	z-index:2;
	}
#content .subqtl .banner_to_come {
	background:url(images/to_come.png);
	z-index:2;
	}

/*needed for mask*/
#content img {
	position:absolute;
	}
.mask1  { 
	  position: absolute;
	  height: 221px;
	  width: 221px;
	  border-radius:18px;
	  -moz-border-radius:18px; -webkit-border-radius:18px; -o-border-radius:18px;
	  visibility: hidden;
  }
.subqtl:hover .mask1 {
		visibility: visible;
		z-index:5;
		font-size:16px;
		color:black;
	}
.mask1 p {
		position: absolute;
		bottom: 10px;
		padding-left:60px;
		font-size:20px;
	}
#arabidopsis {
		background-image:url(images/pic_arabidopsis1.png);
	}
#barley {
		background-image:url(images/pic_barley1.jpg);
}
#boleraceae {
		background-image:url(images/pic_boleracea_new.png);
	}
#chickpea{
		background-image:url(images/chickpea.png);
	}
#chicken {
		background-image:url(images/pic_chicken.png);
	}
#cow {
		background-image:url(images/pic_cow1.png);
	}
#maize {
		background-image:url(images/pic_maize.png);
	}
#pig {
		background-image:url(images/pic_pig1.png);
	}
#solanaceae {
		background-image:url(images/sol1.png);
	}
#potato {
		background-image:url(images/pic_potato1.png);
	}
#poplar {
		background-image:url(images/pic_poplar1.png);
	}
#wheat {
		background-image:url(images/pic_wheat1.png);
	}
  

.testpics {
		-moz-border-radius:18px;
		-webkit-border-radius:18px;
		-o-border-radius:18px;
		border-radius:18px; 
		overflow:hidden;
		z-index: 1;
	}
.testpics span>p{
		color: white;
		position: absolute;
		bottom: 50px;
		padding-left:60px;
		z-index:5;
		}
.subqtl {
		position: relative;
		height: 200px;
		width: 257px;
		}


/*       Fade carousel whole screen     */
.fade-carousel {
    position: relative;
    height: 100vh;
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}

.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: black;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}

@media (max-width: 1030px) {
	.hero img {
		height: 123.5px;
		width: 451px;
		}
	}
@media (max-width: 480px) {
	.hero img {
		height: 95.5px;
		width: 348.6px;
		}
	.hero h3 {
		font-size:14px;
		}
	}
.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}


/*            Overlay           */

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: white;
    opacity: .3;
}

/*       Slides backgrounds     */

.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
	  height: 100vh;
	  background-size: cover;
	  background-position: center center;
	  background-repeat: no-repeat;
	}
.fade-carousel .slides .slide-1 {
	  background-image: url(images/Arabidopsis_Carousel.jpg); 
	}
.fade-carousel .slides .slide-2 {
	  background-image: url(images/barley_carousel.png);
	}
.fade-carousel .slides .slide-3 {
	  background-image: url(images/carousel_oleraceae.png);
	}


/*          Media Queries       */

@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }    
}


.arrow-wrap {
	  position:absolute; 
	  left:50%;
	  /*top:-5em;*/
	  margin-left:-5em;
	  margin-top:800px;
	  background:#111;
	  width:10em;
	  height:10em;
	  padding:4em 2em;
	  border-radius:50%;
	  font-size:0.5em;
	  display:block;
	  box-shadow:0px 0px 5px 0px #333;
}

.arrow {
		float:left;
		position:relative;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 3em 3em 0 3em;
		border-color: #ffffff transparent transparent transparent;
		-webkit-transform:rotate(360deg)
	}

.arrow:after {
	 content:'';
	 position:absolute;
	 top:-3.2em;
	 left:-3em;
	 width: 0px;
	 height: 0px;
	 border-style: solid;
	 border-width: 3em 3em 0 3em;
	 border-color: #111 transparent transparent transparent;
	 -webkit-transform:rotate(360deg)
}


@-webkit-keyframes arrows {
    0% { top:0; }
    10% { top:12%; }
    20% { top:0; }
    30% { top:12%; }
    40% { top:-12%; }
    50% { top:12%; }
    60% { top:0; }
    70% { top:12%; }
    80% { top:-12%; }
    90% { top:12%; }
    100% { top:0; }
  }

.video-geno {
	padding:40px 0px 40px 0px;
	text-align: justify;
	}
#text1 {
	padding-right:100px;
	}
#screenshots-two {
	background-color:darkorange;
	}	
#map-view{
	border-style: solid;
	border-width: 1px;
	border-color:black;
	 border-radius:18px;
	 -moz-border-radius:18px; 
	 -webkit-border-radius:18px; 
	 -o-border-radius:18px;
	}
#text-map-view {
	padding-right:50px;
	}
	
/*Rules Contact page*/	
.contact-page {
	padding: 120px 0px 120px 100px;
	}
.mail{
	font-size:17px;
	padding-top:20px;
	}
#ext {
	font-size:14px;
	}
#pic-building {
	-moz-border-radius:18px; -webkit-border-radius:18px; -o-border-radius:18px; border-radius:18px; 
	overflow:hidden;
	margin-top:20px;
	}

	
/*Rules Publications page*/	
#writing {
	font-family: Bradley Hand ITC; 
	font-weight:bold;
	}
.publications {
	padding-right:100px;
	}
.news {
	line-height:2;
	}

ul.news li:hover {
	height:auto;
	background-color:white;
	}
/*Footer*/
.contact-footer {
	background-color:DimGray;
	filter: alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
	color:white;
	}
.supporter {
		padding-bottom:20px;
	}
.foot {
		text-align:center;
		padding-top:20px;
		}
.logos {
	padding-left:30px;
	}
.logos img{
	padding-top:5px;
	}
	
/* media query navbar collapse into mobile state */	
@media (max-width: 1079px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: right!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}